<html>
<header>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:wght@700&display=swap" rel="stylesheet">
    <title>ConvertMyMoney</title>
    <link rel="stylesheet" href="estilos.css">
</header>

<body>
    <div class="logo">
        <a href="/"><img src="/dinheiro.png" alt="dinheiro"></a><br />
        <h1>ConvertMyMoney</h1>
    </div>