<%- include('header') %>
<form method="GET" action="/cotacao">
    <input name="cotacao" type="number" placeholder="Cotação Dolar"><br />
    <input name="quantidade" type="number" placeholder="Quantidade de Dolares"><br />
    <button>Converter</button>
</form>
<%- include('footer') %>
<div class='icons'>
    Ícones feitos por <a href="http://www.freepik.com/" title="Freepik">Freepik</a> from <a
        href="https://www.flaticon.com/br/" title="Flaticon">www.flaticon.com</a>
</div>