html{
    font-family: 'Roboto', sans-serif;
}
body{
    text-align: center;
    background-color: #FDFDFD;
}

div.logo img{
    width: 150px;
    height: 150px;
}

div.logo h1{
    font-family: 'Ubuntu',sans-serif;
    font-size: 50px;
    margin: 0;
    margin-bottom: 30px;
}
.logo span{
    color: #61be03 ;
}

input{
    border: 1px solid black;
    border-radius: 8px;

    background-color:#FDFDFD;
    font-size: 20px;
    padding: 10px;
    margin: 5px;
    outline: none;
}

button{
    background-color: #74e602;
    border-radius: 8px;
    outline: none;
    border-style: none;

    width: 170px;
    height: 45px;
    
    font-size: 20px;

    margin: 5px;

    transition: 400ms;

}

.result{
    padding: 50px;
    border: 1px solid #d8d8d8;
    background: #FDFDFD;
    font-family: 'Ubuntu',sans-serif;
    font-size: 25px;
}

.result span{
    color:  #61be03;
}

.icons{
    font-size: 15px;
    font-family: 'Ubuntu',sans-serif;
}
.status{
    font-family: 'Ubuntu',sans-serif;
}

.status span{
    font-size: 30px;
    color: #61be03 ;
}

.status img{
    width: 25px;
    height: 25px;
}

button:hover{
    background-color:  #61be03;
}

