html{
    font-family: 'Roboto', sans-serif;
}
.logo{
    text-align: center;
}

.logo img{
    width: 150px;
    height: 150px;
}
.logo h1{
    font-family: 'Ubuntu',sans-serif;
    font-size: 50px;
    margin: 0;
    margin-bottom: 30px;
}
.logo span{
    color: #61be03 ;
}



.status{
    text-align: center;
    font-family: 'Ubuntu',sans-serif;
}

.status span{
    font-size: 30px;
    color: #61be03 ;
}

.status img{
    width: 40px;
    height: 40px;
    margin-bottom: 15px;
}

.form-group{
    text-align: center;
}

.icons{
    text-align: center;
}

.result{
    text-align: center;
    font-family: 'Ubuntu',sans-serif;
    font-size: 30px;
}

.result span{
    color: #61be03;
}

