.logo{
    text-align: center;
}

.logo img{
    width: 200px;
    height: 200px;
}
.logo h1{
    font-family: 'Ubuntu',sans-serif;
    font-size: 80px;
    margin: 0;
    margin-bottom: 30px;
}
.logo span{
    color: #61be03 ;
}

@media (min-width: 850px){
    .logo img{
        width: 150px;
        height: 150px;
    }
    .logo h1{
        font-size: 75px;
    }
}




