html{
    font-family: 'Roboto', sans-serif;
}

.status{
    text-align: center;
    font-family: 'Ubuntu',sans-serif;
}

.status span{
    font-size: 60px;
    color: #61be03 ;
}

.status img{
    width: 70px;
    height: 70px;
    margin-bottom: 30px;
}

form{
    width: 60%;
    text-align: center;
}
.form-group{
    height: 100px;
}
.alert{
    text-align: center;
}


@media (min-width: 850px){
    form{
        width: 25%;
    }
    .form-group{
        height: 80px;
    }
    .status img{
        width: 50px;
        height: 50px;
        margin-bottom: 15px;
    }
    .status span{
        font-size: 40px;
    }
}









